.navbar-right(ng-controller="rbLoginController")
    ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
      li
        a(href="#/signup") Sign Up
      li
        form.navbar-form
            .form-group
                input.form-control(placeholder="Email", ng-model="username")
            .form-group
                input.form-control(placeholder="Password", ng-model="password", type="password")
            button.btn.btn-primary(ng-click="login(username, password)" name="login") Login
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="", ng-click="logout()") Sign Out